#createnote_button{
    background: grey;
    width: 200px;
    height: 50px;
    border: 1px solid black;
    border-radius: 10px; 
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px; 
}



.frame_body {
    background: rgb(121, 122, 122);
    width: 250px;
    height: 150px;
    border: 1px solid rgb(180, 177, 177);
    border-radius: 10px; 
    position: absolute;

    left: 100px;
    top: 50px;

    z-index: 9
    position: relative;
}

.header_body {
    padding: 10px;
    cursor: move;
    z-index: 9;
    color: #fff;
    border-radius: 10px; 
    height: 20px;
}

.cancelbutton{
    background: white;
    width: 70px;
    height: 30px;
    /* border: 1px solid black; */
    border-radius: 5px; 
    color: black;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
 
    z-index: 10;

    position: absolute;
    top: 5px;
    right: 5px;
}

.text_innote {
    background: rgb(38, 39, 39);
    width: 100%;
    height: 100%;
    color: gray;
    padding: 15px 32px;
    text-align: left;
    text-decoration: none;
    display: inline-block;
    font-size: 16px; 
    border-radius: 10px; 
    z-index: 10;
}