
body{
    background-image: linear-gradient(rgb(61, 61, 61), rgb(192, 190, 190));
    font-family: 'Times New Roman';
}

#createnote_button{

    color: rgb(145, 141, 141);
    padding: 50px 50px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 25px;
    cursor: pointer; 
}

#createnote_button:hover{

    color: rgb(228, 222, 222);
    padding: 50px 50px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 30px; 
}

.framebody {
    background: rgb(121, 122, 122);
    width: 250px;
    height: 170px;
    border: 2px double rgb(180, 177, 177);
    border-radius: 10px; 
    position: absolute;
    left: 100px;
    top: 100px;
    z-index: 9
    /* position: relative; */
}

.header_body {
    padding: 10px;
    cursor: move;
    z-index: 9;
    color: #fff;
    border-radius: 10px; 
    height: 15px;
}

.cancelbutton{
    background: rgb(121, 122, 122);
    width: 40px;
    height: 25px;
    /* border: 1px solid black; */
    text-align: center;
    text-decoration: none;
    vertical-align:middle;
    display: inline-block;
    font-size: 15px;
    color: #fff;
    z-index: 10;
    position: absolute;
    top: 5px;
    right: 5px;
    cursor: pointer;
}

.cancelbutton:hover{
  
    color: black;
    font-size: 25px;
}



.textinnote {
    background: rgb(38, 39, 39);
    width: 100%;
    height: 80%;
    color: rgb(190, 188, 188);
    padding: 15px 32px;
    text-align: left;
    /* text-decoration: none; */
    display: inline-block;
    font-size: 16px; 
    border-radius: 10px; 
    z-index: 10;
}


